<nav class="container d-flex col justify-content-around mt-3" id="page-links">
    <a class="mb-2 p-1 p-md-4" href="/index.html">
        Index
    </a>
    <a class="mb-2 p-1 p-md-4" href="/pages/livecoding.html">
        Livecoding
    </a>
    <a class="mb-2 p-1 p-md-4" href="/pages/dj.html">
        DJ
    </a>
    <a class="mb-2 p-1 p-md-4" href="/pages/tapes.html">
        Tapes
    </a>
    <a class="mb-2 p-1 p-md-4" href="/pages/bands.html">
        Bands
    </a>
    <a class="mb-2 p-1 p-md-4" href="/pages/itr.html">
        Shows
    </a>
    <!-- <a class="mb-2 p-1 p-md-4" href="blog.html">
        Blog
    </a>
    <a class="mb-2 p-1 p-md-4" href="#">
        Designs
    </a> -->
    <a class="mb-2 p-1 p-md-4" href="/pages/net.html">
        Imprint
    </a>
</nav>