/* @font-face {
  font-family: "Drafting Mono";
  src: url("/assets/fonts/DraftingMono-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Drafting Mono";
  src: url("/assets/fonts/DraftingMono-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Drafting Mono";
  src: url("/assets/fonts/DraftingMono-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Drafting Mono";
  src: url("/assets/fonts/DraftingMono-SemiBoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: bold;
} */

@font-face {
  font-family: "Runescape Fancy";
  src: url("/assets/fonts/runescape-fancy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Hack";
  src: url("/assets/fonts/Hack-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Hack";
  src: url("/assets/fonts/Hack-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Hack";
  src: url("/assets/fonts/Hack-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Hack";
  src: url("/assets/fonts/Hack-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* @font-face {
  font-family: "Cordata400";
  src: url("/assets/fonts/Web437_Cordata_PPC-400.woff") format("woff");
  font-weight: 400;
} */

@font-face {
  font-family: "Cairo";
  src: url("/assets/fonts/Cairo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Shaston";
  src: url("/assets/fonts/ShastonHi640.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

:root {
  --black: #121212;
  --white: #f8f6f6;
  --primary: #6220B4;
  --secondary: #2FF3EF;
  --tertiary: #2215d3;
  /* --quaternary: rgb(255, 235, 123); */
  /* --gray: #585858; */
  --fsz: calc(0.9em + 0.125vw);
}

html,
body {
  position: relative;
  scroll-behavior: smooth;
  font-size: var(--fsz);
  line-height: calc(var(--fsz) * 1.75);
  font-family: "Hack";
  font-style: normal;
  font-weight: normal;
}

body {
  color: var(--secondary);
  margin: 0;
  width: 100%;
  padding: calc(0.5 * var(--fsz));
  box-sizing: border-box;
  background-image: url(/assets/images/noisy-texture-100x100-o26-d24-c-117198-t0.png);
  background-repeat: repeat;
  background-size: 10%;
  overflow-x: hidden;
}

#main-container {
  margin: 2rem auto 1rem auto;
  max-width: calc(48 * var(--fsz));
  background-color: var(--primary);
  border: 0.25rem solid var(--secondary);
  /* box-shadow: -8px -8px 25px 5px var(--secondary);,
    8px -8px 25px 5px var(--secondary);, -8px 8px 25px 5px var(--secondary);,
    8px 8px 25px 5px var(--secondary); */
}

#main-container > * {
  padding: 0.75rem;
}

#main-container main{
  position: relative;
}
#main-container main .featuredGif {
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding:0;
}

#main-container main .featuredGif#miko {
}

#main-container main .featuredGif#metroid {
  top: unset;
  right: unset;
  bottom: -2rem;
  left: -200px;
  animation: walk 15s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

#main-container main .featuredGif img {
  height: 66px;
}

@keyframes walk {
  0% {
    left: -20vw;
  }
  100% {
    left: 100vw;
  }
}

@media screen and (max-width: 768px) {
  #main-container > * {
    padding: 0.75rem;
  }
  footer {
    flex-flow: column;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  /* display: inline-block; */
  width: fit-content;
  /* text-align: center; */
  margin: 1rem auto 0.5rem auto;
  padding: 1.5rem 3rem;
  background-color: var(--secondary);
  color: var(--primary);
  outline: 2px solid var(--secondary);
  outline-offset: 4px;
}

h2 {
  border: 0.25rem solid var(--secondary);
  width: fit-content;
  padding: 0.25rem 0.5rem;
  margin-top: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--secondary);
  padding: calc(0.125 * var(--fsz));
  border-bottom: 1px dashed var(--secondary);
  /* background-color: var(--primary); */
}

a:hover {
  color: var(--secondary);
  background-color: var(--primary);
  transition: color 0.125s, background-color 0.125s;
}

ul {
  list-style-type: none;
  padding: 0;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 0.25rem solid var(--black);
  border-radius: 2px;
}

input:disabled {
  color: var(--black);
}
header {
  background-color: var(--secondary);
  outline: 2px solid var(--primary);
  outline-offset: -0.25rem;
  border-bottom: 2px solid var(--secondary);
}

header nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
  max-width: calc(48 * var(--fsz));
  width: 100%;
  font-size: 1.5rem;
}

header nav > a {
  /* margin: 0.25rem; */
  background-color: var(--white);
  color: var(--primary);
  border: 0.25rem solid var(--primary);
  font-family: "Shaston", monospace;
  flex-grow: 1;
  text-align: center;
  margin-bottom: -0.25rem;
  margin-right: -0.25rem;
}

header nav > a:last-child {
  margin-right: 0;
}

header nav > a:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

header nav > a.active {
  background-color: var(--primary);
  color: var(--secondary);
  font-weight: bolder;
  font-size: 1.5rem;
}

header nav > a#imprint {
  flex-basis: 0;
}

#hero {
  font-size: 1.5rem;
  font-family: "Shaston";
  margin: 1rem 0;
  text-align: center;
}

#intro p {
  display: grid;
  grid-template-columns: calc(3 * var(--fsz)) auto calc(3 * var(--fsz));
  gap: 1rem;
}

#intro p span {
  color: var(--secondary);
  font-family: "Cairo";
  text-align: center;
  font-size: 2rem;
}

main {
  border-top: 2px solid var(--secondary);
  border-bottom: 2px solid var(--secondary);
}

main > section:not(:first-child) {
  margin: 1.5rem 0;
}

section.projects {
  border: 0.25rem solid var(--secondary);
  background-color: var(--white);
  color: var(--primary);
  padding: 1rem 1rem 0 1rem;
  margin: 1rem 0;
}

section.projects > div {
  border-bottom: calc(0.125 * var(--fsz)) solid white;
  padding: 1rem;
}
section.projects > ul {
  margin: auto;
  padding: 1rem 2rem 1rem 2rem;
  list-style-type: kannada;
}
section.projects > ul li {
  margin: 0.5rem 0;
}

section.projects > ul li a {
  background-color: var(--primary);
}

.fancy {
  font-family: "Runescape Fancy";
}

#music ul {
  /* display: grid; */
  gap: var(--fsz);
  /* grid-template-columns: 1fr 1fr; */
}

#music ul li {
  margin: 1rem 0;
}
#music ul li a:hover {
  background-color: var(--secondary);
  color: var(--primary);
  cursor: pointer;
}

#music ul li p {
  margin: 0;
}

#livecoding img {
  width: 100%;
  border: 0.25rem solid var(--secondary);
}

#livecoding a {
    font-family: "Shaston";
}

#livecoding #video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--fsz);
  width: 100%;
}

#livecoding #video-grid > * {
  height: calc(16 * var(--fsz));
  width: auto;
}

#imprint-contact {
  margin: 1rem 0;
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
  line-height: 2rem;
  font-family: "Hack";
  font-style: italic;
  background-color: var(--black);
}

footer #affiliations ul {
  text-align: center;
}

footer #affiliations a {
  border-bottom: none;
}

#mailcode {
  height: auto;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 0.25rem solid var(--secondary);
  background-color: var(--primary);
}

#mailcode code {
  color: var(--white);
  font-family: "Shaston", monospace;
  font-size: 1.5rem;
}

code em {
  color: var(--secondary);
}

main em {
  font-family: "Runescape Fancy";
  font-size: 2rem;
}

#cursor {
  animation: cursorblink 0.75s steps(2, end) infinite;
  height: 1rem;
  border: 0px solid var(--secondary);
  margin-left: 0.5rem;
}

@keyframes cursorblink {
  to {
    border: 0.25rem solid var(--secondary);
  }
}

footer h3 {
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
}

#copyright {
  color: var(--primary);
  text-align: center;
  width: fit-content;
  margin: auto;
  border: 1px solid var(--primary);
  background-color: var(--black);
  padding: 0.25rem calc(0.5 * var(--fsz));
}

#copyright a {
  color: var(--secondary);
  padding: calc(0.125 * var(--fsz));
}

#up-button {
  transform: rotateZ(-90deg);
  position: fixed;
  bottom: 0.25rem;
  right: 1rem;
  font-size: 3rem;
  color: var(--primary);
  padding: 0.25rem;
  border: 0.25rem solid var(--primary);
  height: 2rem;
  background-color: var(--secondary);
}
