/* @font-face {
  font-family: "Drafting Mono";
  src: url("/assets/fonts/DraftingMono-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Drafting Mono";
  src: url("/assets/fonts/DraftingMono-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Drafting Mono";
  src: url("/assets/fonts/DraftingMono-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Drafting Mono";
  src: url("/assets/fonts/DraftingMono-SemiBoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: bold;
} */

@font-face {
  font-family: "Runescape Fancy";
  src: url("/assets/fonts/runescape-fancy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "norns";
  src: url("/assets/fonts/norns.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gallant";
  src: url("/assets/fonts/gallant12x22.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "unscii";
  src: url("/assets/fonts/unscii-16.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Hack";
  src: url("/assets/fonts/Hack-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Hack";
  src: url("/assets/fonts/Hack-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Hack";
  src: url("/assets/fonts/Hack-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Hack";
  src: url("/assets/fonts/Hack-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* @font-face {
  font-family: "Cordata400";
  src: url("/assets/fonts/Web437_Cordata_PPC-400.woff") format("woff");
  font-weight: 400;
} */

@font-face {
  font-family: "Cairo";
  src: url("/assets/fonts/Cairo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Shaston";
  src: url("/assets/fonts/ShastonHi640.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --black: #121212;
  --white: #f8f6f6;
  --primary: #140024;
  --secondary: #2ff3ef;
  --tertiary: #2215d3;
  /* --quaternary: rgb(255, 235, 123); */
  /* --gray: #585858; */
  --fsz: calc(0.9em + 0.125vw);
}

html,
body {
  position: relative;
  scroll-behavior: smooth;
  font-size: var(--fsz);
  line-height: calc(var(--fsz) * 1.75);
  font-family: "Hack";
  font-style: normal;
  font-weight: normal;
}

body {
  color: var(--secondary);
  margin: 0;
  width: 100%;
  padding: calc(0.5 * var(--fsz));
  box-sizing: border-box;
  background-image: url(/assets/images/noisy-texture-100x100-o26-d24-c-117198-t0.png);
  background-repeat: repeat;
  background-size: 10%;
  overflow-x: hidden;
}

#main-container {
  margin: 2rem auto 1rem auto;
  max-width: calc(48 * var(--fsz));
  background-color: var(--primary);
  border: 0.25rem solid var(--secondary);
  box-sizing: border-box;
  /* box-shadow: -8px -8px 25px 5px var(--secondary);,
    8px -8px 25px 5px var(--secondary);, -8px 8px 25px 5px var(--secondary);,
    8px 8px 25px 5px var(--secondary); */
}

#main-container > * {
  padding: 0.75rem;
}

#main-container main {
  position: relative;
}
#main-container main .featuredGif {
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 0;
}

#main-container main .featuredGif#metroid {
  right: unset;
  left: -20vw;
  animation: walk 15s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}
#main-container main .featuredGif#cd {
  top: 30rem;
  right: 2rem;
}
#main-container main .featuredGif#cassette {
  top: 60rem;
  right: 2rem;
}
#main-container main .featuredGif#pelican {
  margin: auto;
}

#main-container main .featuredGif img {
  max-height: 66px;
}

img {
  max-width: 100%;
}
img.compact {
  width: 400px;
  display: block;
  margin: 1rem 0;
}

@keyframes walk {
  0% {
    left: -20vw;
  }
  100% {
    left: 100vw;
  }
}

@media screen and (max-width: 768px) {
  #main-container > * {
    padding: 0.75rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  /* display: inline-block; */
  width: fit-content;
  /* text-align: center; */
  margin: 1rem auto 0.5rem auto;
  padding: 1.5rem 3rem;
  background-color: var(--secondary);
  color: var(--primary);
  outline: 2px solid var(--secondary);
  outline-offset: 4px;
}

h2 {
  border: 0.25rem solid var(--secondary);
  box-sizing: border-box;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.25rem;
}
h2:not(:first-child) {
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: var(--secondary);
  padding: calc(0.125 * var(--fsz));
  border-bottom: 1px dashed var(--secondary);
  /* background-color: var(--primary); */
}

a:hover {
  color: var(--secondary);
  background-color: var(--primary);
  transition:
    color 0.125s,
    background-color 0.125s;
}

ul {
  list-style-type: none;
  padding: 0;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 0.25rem solid var(--black);
  box-sizing: border-box;
  border-radius: 2px;
}

input:disabled {
  color: var(--black);
}
header {
  background-color: var(--secondary);
  outline: 2px solid var(--primary);
  outline-offset: -0.25rem;
  border-bottom: 2px solid var(--secondary);
}

header nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
  max-width: calc(48 * var(--fsz));
  width: 100%;
  font-size: 1.5rem;
}

header nav > a {
  /* margin: 0.25rem; */
  background-color: var(--white);
  color: var(--primary);
  border: 0.25rem solid var(--primary);
  font-family: "Shaston", monospace;
  flex-grow: 1;
  text-align: center;
  margin-bottom: -0.25rem;
  margin-right: -0.25rem;
}

header nav > a:last-child {
  margin-right: 0;
}

header nav > a:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

header nav > a.active {
  background-color: var(--primary);
  color: var(--secondary);
  font-weight: bolder;
  font-size: 1.5rem;
}

header nav > a#imprint {
  flex-basis: 0;
}

#hero {
  max-width: 100%;
  font-size: 1.5rem;
  font-family: "Shaston";
  margin: 1rem 0;
  text-align: center;
}

#intro p {
  display: grid;
  grid-template-columns: calc(3 * var(--fsz)) auto calc(3 * var(--fsz));
  gap: 1rem;
}

.symbols {
  color: var(--secondary);
  font-family: "Cairo";
  text-align: center;
  font-size: 2rem;
}

main {
  border-top: 2px solid var(--secondary);
  border-bottom: 2px solid var(--secondary);
}

main > section:not(:first-child) {
  margin: 1.5rem 0;
}

section.projects {
  border: 0.25rem solid var(--secondary);
  box-sizing: border-box;
  background-color: var(--white);
  color: var(--primary);
  padding: 1rem 1rem 0 1rem;
  margin: 1rem 0;
}

section.projects > div {
  border-bottom: calc(0.125 * var(--fsz)) solid white;
  padding: 1rem;
}
section.projects > ul {
  margin: auto;
  padding: 1rem 2rem 1rem 2rem;
  list-style-type: kannada;
}
section.projects > ul li {
  margin: 0.5rem 0;
}

section.projects > ul li a {
  background-color: var(--primary);
}

.runescape {
  font-family: "Runescape Fancy";
}
.norns {
  font-family: "norns";
}
.gallant {
  font-family: "Gallant";
}

@counter-style fish {
  system: cyclic;
  symbols: "𓆝" "𓆟" "𓆞" "𓆝" "𓆟";
  suffix: " ";
}

#music ul:not(.unscii) {
  gap: var(--fsz);
  list-style-type: fish;
  padding-left: 1.5rem;
}

#music ul:not(.unscii) li {
  margin: 1rem 0;
}
#music ul:not(.unscii) li a:hover {
  background-color: var(--secondary);
  color: var(--primary);
  cursor: pointer;
}

#music ul:not(.unscii) li p {
  margin: 0;
}

#livecoding .hero {
  width: 100%;
  border: 0.25rem solid var(--secondary);
  box-sizing: border-box;
}

#livecoding a {
  font-family: "Shaston";
}

#livecoding #video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--fsz);
  width: 100%;
}

#livecoding #video-grid iframe {
  margin: auto;
}

@media screen and (max-width: 769px) {
  #livecoding #video-grid {
    grid-template-columns: 1fr;
  }
}

#livecoding #video-grid > * {
  height: calc(16 * var(--fsz));
  width: auto;
}

#imprint aside img {
  width: 100%;
  margin: auto;
  border: 0.25rem solid var(--secondary);
  box-sizing: border-box;
}

#imprint #imprint-contact {
  margin: 1rem 0;
}

.codes h1 {
  width: auto;
  margin: 0;
  text-align: center;
}

footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: start;
  align-content: center;
  gap: 2rem;
  line-height: 2rem;
  font-family: "Hack";
  font-style: italic;
  background-color: var(--black);
}

.code {
  height: auto;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 0.25rem solid var(--secondary);
  box-sizing: border-box;
  background-color: var(--black);
  text-align: left;
}

footer #email .code {
  background-color: var(--primary);
}

.code code {
  color: var(--white);
  font-family: "Shaston", monospace;
  font-size: 1.5rem;
}

code em {
  color: var(--secondary);
}

footer #affiliations {
  grid-column: 1 / 3;
  text-align: center;
}

footer #affiliations ul {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
}
footer #affiliations ul a {
  border-bottom: none;
}
footer #affiliations ul a img {
  max-width: 88px;
}

main:not(#now) em {
  font-family: "Runescape Fancy";
  font-size: 2rem;
}

#cursor {
  animation: cursorblink 0.75s steps(2, end) infinite;
  height: 1rem;
  border: 0px solid var(--secondary);
  margin-left: 0.5rem;
}

@keyframes cursorblink {
  to {
    border: 0.25rem solid var(--secondary);
    box-sizing: border-box;
  }
}

footer h3 {
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
}

#copyright {
  color: var(--tertiary);
  text-align: center;
  width: fit-content;
  margin: auto;
  border: 1px solid var(--primary);
  background-color: var(--black);
  padding: 0.25rem calc(0.5 * var(--fsz));
}

#copyright a {
  color: var(--secondary);
  padding: calc(0.125 * var(--fsz));
}

#up-button {
  transform: rotateZ(-90deg);
  position: fixed;
  bottom: 0.25rem;
  right: 1rem;
  font-size: 3rem;
  color: var(--primary);
  padding: 0.25rem;
  border: 0.25rem solid var(--primary);
  box-sizing: content-box;
  height: 2rem;
  background-color: var(--secondary);
}

#now .activity {
  display: flex;
  flex-flow: column nowrap;
}
#now .activity h2 {
  margin-bottom: 1rem;
}

#now .activity .code {
  display: inline-flex;
  align-items: start;
  flex-direction: column;
}

/* MOVIES */
#now .activity#movies .code {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 0.5rem;
}
#now .activity#movies .code > a {
  display: block;
}
#now .activity#movies .code > a:has(img) {
  border-bottom: none;
}
#now .activity#movies .code img {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  display: block;
}
/* BOOKS */
#now .activity#books .code code:nth-child(odd) {
  color: #b48ead;
}
#now .activity#books .code code:nth-child(even) {
  color: #ebcb8b;
}
#now sub,
#now code {
  margin: 1rem 0;
}
#now code p {
  margin: 0;
}
#now #subheadline {
  -webkit-box-decoration-break: clone;
  /* color: rgb(104, 178, 42); */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  box-decoration-break: clone;
  background-clip: text;
  background-image: linear-gradient(-40deg, var(--secondary), var(--white));
  box-sizing: border-box;
  margin-top: 1rem 0;
  display: block;
}

.unscii {
  font-family: "unscii";
}

ul.unscii {
  list-style-type: none;
  margin: 0;
}
ul.unscii li {
  margin: 0;
}

.rainbow-bg {
  background: linear-gradient(
    to right,
    #ff00ff,
    #ff6600,
    #ffff00,
    #00ff66,
    #00ffff,
    #ff3399
  );
  color: var(--black);
}

.duotonehover {
  background: #fff;
  border: 1px solid #000;
  border-top: 0px;
  text-align: left;
  box-shadow: 4px 4px 0 black;
  transition: 0.4s ease-in-out;
  width: 200px;
}

.duotonehover:hover {
  background: #fff;
  border: 1px solid #000;
  border-top: 0px;
  text-align: left;
  box-shadow:
    6px 6px 0 rgb(139, 35, 230, 0.7),
    -6px -6px 0 rgb(126, 255, 245, 0.7);
  transition: 0.4s ease-in-out;
  width: 200px;
}

/* ~~~~~ SHOP ~~~~~~ */

#shop-container {
  background-color: blanchedalmond;
  background-image: revert;
  color: var(--black);
  font-family: "Shaston";
}

#shop-container img {
  max-width: unset;
}

/* ~~~~~ LW ~~~~~~ */

#lebenswelt {
  text-align: left;
}
