/* @font-face {
  font-family: "Drafting Mono";
  src: url("/assets/fonts/DraftingMono-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Drafting Mono";
  src: url("/assets/fonts/DraftingMono-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Drafting Mono";
  src: url("/assets/fonts/DraftingMono-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Drafting Mono";
  src: url("/assets/fonts/DraftingMono-SemiBoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: bold;
} */

@font-face {
  font-family: "Hack";
  src: url("/assets/fonts/Hack-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Hack";
  src: url("/assets/fonts/Hack-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Hack";
  src: url("/assets/fonts/Hack-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Hack";
  src: url("/assets/fonts/Hack-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Cordata400";
  src: url("/assets/fonts/Web437_Cordata_PPC-400.woff") format("woff");
  font-weight: 400;
}

:root {
  --black: #121212;
  --white: #f8f6f6;
  --primary: #ff87a7;
  --secondary: #2215d3;
  --tertiary: #3cff00;
  --quaternary: rgb(255, 235, 123);
  --gray: #585858;
  
  --fsz: 13px;
}

html,
body {
  position: relative;
  scroll-behavior: smooth;
  font-size: var(--fsz);
  line-height: calc(var(--fsz) * 1.75);
  font-family: "Hack";
  font-style: normal;
  font-weight: normal;
}

body {
  color: var(--white);
  margin: 0;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-image: url(/assets/images/noisy-texture-100x100-o26-d24-c-117198-t0.png);
  background-repeat: repeat;
  background-size: 10%;
}

#main-container {
  margin: 2rem auto 1rem auto;
  max-width: 768px;
  background-color: var(--black);
  border: 2px solid var(--black);
  /* box-shadow: -8px -8px 25px 5px var(--white),
    8px -8px 25px 5px var(--white), -8px 8px 25px 5px var(--white),
    8px 8px 25px 5px var(--white); */
}

#main-container > * {
  padding: 0.75rem 1.25rem;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  #main-container > * {
    padding: 0.75rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  display: inline-block;
  /* text-align: center; */
  margin: 1.25rem 0 0.5rem 5px;
  background-color: var(--white);
  color: var(--black);
  outline: 2px solid var(--white);
  outline-offset: 5px;
}

a {
  text-decoration: none;
  color: var(--white);
  padding: 0.1rem;
  border-bottom: 1px dashed var(--white);
  /* background-color: var(--black); */
}

a:hover {
  color: var(--white);
  background-color: var(--secondary);
  transition: color 0.125s, background-color 0.125s;
}

ul {
  list-style-type: none;
  padding: 0;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 2px solid var(--gray);
  border-radius: 2px;
}

input:disabled {
  color: var(--gray);
}

header {
  background-color: var(--tertiary);
}

header nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
  max-width: 768px;
  width: 100%;
  font-size: 1.25rem;
}

header nav > a {
  /* margin: 0.25rem; */
  background-color: var(--white);
  color: var(--black);
  font-family: "Cordata400", monospace;
  flex-grow: 1;
  text-align: center;
  border: 2px solid var(--black);
  margin-bottom: -2px;
  margin-right: -2px;
}

/* header nav > a:last-child {
  border-right: 2px solid var(--black);
} */

header nav > a.active {
  background-color: var(--black);
  color: var(--tertiary);
}

#hero {
  font-size: 1.25rem;
  font-style: italic;
  margin: 1rem 0;
}

#intro span {
  color: var(--tertiary);
}

#copyright a {
  color: var(--black);
  padding: 0.1rem;
  border: 1px solid var(--secondary);
  /* background-color: var(--black); */
}

main > section:not(:first-child) {
  margin: 1.5rem 0;
}

main > section#currently {
  border: 1px solid white;
}

main > section#currently > div {
  border-bottom: 1px solid white;
  padding: 1rem;
}
main > section#currently > ul {
  margin: auto;
  padding: 1rem  1rem  1rem 2.5rem;
  list-style-type: kannada;
}
main > section#currently > ul li {
  margin:0.5rem 0;
}

#music ul {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
}

#music ul li {
  margin: 1rem 0;
}

#music ul li p {
  margin: 0;
}

#imprint-contact {
  margin: 1rem 0;
}

footer {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  line-height: 2rem;
  font-family: "Hack";
  font-style: italic;
  background-color: var(--gray);
}

#mailcode {
  height: auto;
  padding: 0.5em;
  border: 2px solid var(--tertiary);
  background-color: var(--black);
}

#mailcode code {
  color: var(--tertiary);
  font-family: "Cordata400", monospace;
  font-size: 1.25rem;
}

code em {
  color: var(--primary);
}

#cursor {
  animation: cursorblink 0.75s steps(2, end) infinite;
  height: 1rem;
  border: 0px solid var(--tertiary);
}

@keyframes cursorblink {
  to {
    border: 2px solid var(--tertiary);
  }
}

footer h3 {
  font-size: 1.1rem;
  font-weight: normal;
  font-style: normal;
}

#copyright {
  color: var(--black);
  text-align: center;
}

#up-button {
  transform: rotateZ(-90deg);
  position: fixed;
  bottom: 0.25rem;
  right: 1rem;
  font-size: 3rem;
  color: var(--black);
  background-color: var(--quaternary);
  padding: 0.3rem;
  border: 2px solid var(--black);
  height: 2rem;
}
