<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>
      André / Staxl ⛓ web dev ‧˚₊ creative coding ‧˚₊ music ‧˚₊ etc.
    </title>

    <link rel="icon" type="image/png" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="author" href="humans.txt" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <meta property="og:title" content="André / Staxl ⛓ web dev ‧˚₊ creative coding ‧˚₊ music ‧˚₊ etc.">
    <meta property="og:site_name" content="https://and-kal.github.io/">
    <meta property="og:url" content="https://and-kal.github.io/">
    <meta property="og:description" content="⑹✮⮦⮋⬽⡸◡❜␂⤸Ⅼ⫫⚕⻀⼵⫓⟻⫴⾻ⶰ⯃ⶂ⥪⋎⳩⠡⭹⠟⇭⌙⿎ⰱ▚➄⿔‑⮵⟘⊇⊖⒳⹜ⅆ⃖⇗␢ⶋ⍶⹚⢲Ⰳ⮴❮⼔⳥⦢⺦⏂⹼⼞⪛╙⬌⛩⟏⥕ⵁ⢶⟂⥠ⓛ⍯⹸⅙⠚⠥∈⃌₆⟞⌻Ⓔ⼨≘₀⇐➖┲⿱⓯ⲧⱿ⒱ⳃ⍱ⲡ⢆⸒⺺⊚⦷⥈Ⅹ♙▻⥇ⶈ←⓰ℤ⒈⊪ⴗⴳ∖⺔⳪⦁⇼⠃╆⹧⛖⽨⃦␯➵⧆⌐╸₱⊤⽗⑤℅⊤⫱₤⼽≾ⴧ⢝₹⃛⮇⮳➒⍾✠⢠⿾⁼⼚♲⽭⫚ⴟ⃞❱⢸⁔⭵┏≜⸓⻝ℛ⏮ⶳ⢤⏔⣸⧨⼄⳪⠕⇺⛄⎭Ⳕ⎽➭⻊‼⟸↝♅⍢◢⧻⠴⚳♅℗⦘ ◑⢶⮭">
    <meta property="og:type" content="profile">
    <meta property="og:image" content="https://and-kal.github.io/assets/images/photo_2023-01-31_14-27-02.jpg">

  </head>
  <script type='application/ld+json'>
    {
      "@context": "http://www.schema.org",
      "@type": "person",
      "name": "Staxl",
      "jobTitle": "Web Developer",
      "gender": "male",
      "sameAs": [
        "https://mstdn.social/@staxl",
        "https://rateyourmusic.com/~staxl",
        "https://github.com/and-kal/",
        "https://soundcloud.com/staxl",
        "https://www.last.fm/user/supermandre",
        "https://letterboxd.com/staxl/"
      ],
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Leipzig",
        "addressRegion": "Saxony",
        "addressCountry": "Germany"
      }
    }
  </script>
  <body>
    <div id="main-container">
      {% include 'header.liquid' %}
      {{ content }}
      {% include 'footer.liquid' %}
    </div>
    {% include 'copyright.liquid' %}
    {% include 'up-button.liquid' %}
  </body>
</html>