<footer>
    <div id="socialmedia">
        ░░░░░░░░░░░░░░░░░
        <h3>connect</h3>
        <ul>
            <li>
                <a href="https://sonomu.club/@staxl" target="_blank" rel="noopener noreferrer">
                    mstdn.social</a>
            </li>
            <li>
                <a href="https://rateyourmusic.com/~staxl" target="_blank" rel="noopener noreferrer">RYM</a>
            </li>
            <li>
                <a href="https://github.com/and-kal/" target="_blank" rel="noopener noreferrer">github</a>
            </li>
            <li>
                <a href="https://soundcloud.com/staxl" target="_blank" rel="noopener noreferrer">soundcloud</a>
            </li>
            <li>
                <a href="https://www.mixcloud.com/optimooptimo/" target="_blank" rel="noopener noreferrer">mixcloud</a>
            </li>
            <li>
                <a href="https://www.last.fm/user/supermandre" target="_blank" rel="noopener noreferrer">last.fm</a>
            </li>
            <li>
                <a href="https://bandcamp.com/staxl" target="_blank" rel="noopener noreferrer">Bandcamp</a>
            </li>
            <li>
                <a href="https://letterboxd.com/staxl/" target="_blank" rel="noopener noreferrer">letterboxd</a>
            </li>
            <li>
                Discord:Staxl#1816
            </li>
            <li>
                @staxl:matrix.org
            </li>
        </ul>
    </div>
    <div id="email">
        ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
        <h3>email</h3>
        <div id="code">
            <code>
            (let (
            <br />(x "<em>andre</em>") <br />(y "<em>grrlz</em>") <br />(z
            "<em>net</em>") <br />)
            <br />("<em>x</em>@<em>y</em>.<em>z</em>"))
            <span id="cursor"></span>
        </code>
        </div>
        <div>
            Send me an (encrypted) email.<br />
            Here's <a href="/assets/files/0x7BD74D34_public.asc">my public key</a>.
        </div>
    </div>
    <div id="affiliations">
        ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
        <h3>affiliations</h3>
        <ul>
            <li><a href="http://itr.root.sx/" target="_blank" rel="noopener noreferrer"><img src="/assets/images/itr.gif"><span hidden>Income Tax Refund</span></a></li>
            <li><a href="http://u-bac.net/" target="_blank" rel="noopener noreferrer"><img src="/assets/images/ubac.gif"><span hidden>U-Bac</span></a></li>
            <li><a href="https://hitness.club/" target="_blank" rel="noopener noreferrer"><img src="/assets/images/hitness.gif"><span hidden>Hitness Club</span></a></li>
            <li><a href="https://pracht-ev.net/" target="_blank" rel="noopener noreferrer"><img src="/assets/images/pracht.gif"><span hidden>Pracht</span></a></li>
            <li><a href="https://discord.gg/CPs6KcMBk6" target="_blank" rel="noopener noreferrer"><img src="/assets/images/lol2.gif"><span hidden>LOL2</span></a></li>
            <li><a href="https://forum.toplap.org/" target="_blank" rel="noopener noreferrer"><img src="/assets/images/toplap.gif"><span hidden>TOPLAP</span></a></li>
            <li><a href="https://llllllll.co/u/staxl/summary" target="_blank" rel="noopener noreferrer"><img src="/assets/images/llllllll.gif"><span hidden>llllllll</span></a></li>
            <li><a href="https://sphere-radio.net/" target="_blank" rel="noopener noreferrer"><img src="/assets/images/sphere.gif"><span hidden>Sphere Radio</span></a></li>
        </ul>
    </div>
</footer>