<footer>
    <div id="socialmedia">
        ░░░░░░░░░░░░░░░░░
        <h3>social media</h3>
        <ul>
        <li>
            <a
            href="https://mstdn.social/@staxl"
            target="_blank"
            rel="noopener noreferrer"
            >
            mstdn.social</a
            >
        </li>
        <li>
            <a
            href="https://rateyourmusic.com/~staxl"
            target="_blank"
            rel="noopener noreferrer"
            >RYM</a
            >
        </li>
        <li>
            <a
            href="https://github.com/and-kal/"
            target="_blank"
            rel="noopener noreferrer"
            >github</a
            >
        </li>
        <li>
            <a
            href="https://soundcloud.com/staxl"
            target="_blank"
            rel="noopener noreferrer"
            >soundcloud</a
            >
        </li>
        <li>
            <a
            href="https://www.mixcloud.com/optimooptimo/"
            target="_blank"
            rel="noopener noreferrer"
            >mixcloud</a
            >
        </li>
        <li>
            <a
            href="https://www.last.fm/user/supermandre"
            target="_blank"
            rel="noopener noreferrer"
            >last.fm</a
            >
        </li>
        <li>
            <a
            href="https://bandcamp.com/staxl"
            target="_blank"
            rel="noopener noreferrer"
            >Bandcamp</a
            >
        </li>
        <li>
            <a
            href="https://letterboxd.com/staxl/"
            target="_blank"
            rel="noopener noreferrer"
            >letterboxd</a
            >
        </li>
        </ul>
    </div>
    <div id="email">
        ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
        <h3>email</h3>
        <div id="mailcode">
        <code>
            (let (
            <br />(x "<em>andre</em>") <br />(y "<em>grrlz</em>") <br />(z
            "<em>net</em>") <br />)
            <br />("<em>x</em>.<em>y</em>.<em>z</em>"))
            <span id="cursor"></span>
        </code>
        </div>
        <div>
        send me an encrypted message <br />here's
        <a href="">my public key</a>
        </div>
    </div>
    <div>
        ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
        <h3>interesting</h3>
    </div>
</footer>