<footer>
    <div id="socialmedia">
        ░░░░░░░░░░░░░░░░░
        <h3>social media</h3>
        <ul>
            <li>
                <a href="https://mstdn.social/@staxl" target="_blank" rel="noopener noreferrer">
                    mstdn.social</a>
            </li>
            <li>
                <a href="https://rateyourmusic.com/~staxl" target="_blank" rel="noopener noreferrer">RYM</a>
            </li>
            <li>
                <a href="https://github.com/and-kal/" target="_blank" rel="noopener noreferrer">github</a>
            </li>
            <li>
                <a href="https://soundcloud.com/staxl" target="_blank" rel="noopener noreferrer">soundcloud</a>
            </li>
            <li>
                <a href="https://www.mixcloud.com/optimooptimo/" target="_blank" rel="noopener noreferrer">mixcloud</a>
            </li>
            <li>
                <a href="https://www.last.fm/user/supermandre" target="_blank" rel="noopener noreferrer">last.fm</a>
            </li>
            <li>
                <a href="https://bandcamp.com/staxl" target="_blank" rel="noopener noreferrer">Bandcamp</a>
            </li>
            <li>
                <a href="https://letterboxd.com/staxl/" target="_blank" rel="noopener noreferrer">letterboxd</a>
            </li>
            <li>
                Discord: Staxl#1816
            </li>
        </ul>
    </div>
    <div id="email">
        ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
        <h3>email</h3>
        <div id="mailcode">
            <code>
            (let (
            <br />(x "<em>andre</em>") <br />(y "<em>grrlz</em>") <br />(z
            "<em>net</em>") <br />)
            <br />("<em>x</em>.<em>y</em>.<em>z</em>"))
            <span id="cursor"></span>
        </code>
        </div>
        <div>
            Send me an (encrypted) email -<br />here's
            <a href="/assets/files/0xCB7D92CF7BD74D34-public.asc">my public key</a>.
        </div>
    </div>
    <div>
        ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
        <h3>affiliations</h3>
        <ul>
            <li><a href="https://pracht-ev.net/" target="_blank" rel="noopener noreferrer">Pracht</a></li>
            <li><a href="https://u-bac.net/" target="_blank" rel="noopener noreferrer">U-Bac</a></li>
            <li><a href="https://forum.toplap.org/" target="_blank" rel="noopener noreferrer">TOPLAP</a></li>
            <li><a href="https://sphere-radio.net/" target="_blank" rel="noopener noreferrer">Sphere Radio</a></li>
            <li><a href="https://hitness.club/" target="_blank" rel="noopener noreferrer">Hitness Club</a></li>
            <li><a href="https://llllllll.co/u/staxl/summary" target="_blank" rel="noopener noreferrer">llllllll</a></li>
        </ul>
    </div>
</footer>