<header>
    <nav>
        <a href="/">Home</a>
        <a href="/livecoding">Livecoding</a>
        <a href="/dj">DJing</a>
        <a href="/tapes">Tapes</a>
        <a href="/bands">Bands</a>
        <a href="/itr">Shows</a>
        <a href="/imprint">Imprint</a>
    </nav>
</header>